.Style1{font-family: 'DINCondensed-Bold','DIN Condensed';
font-size: 35px; 
font-weight:700; 
margin:0;
letter-spacing: 0.03em; 
word-wrap: break-word;}
.Style2{font-family: 'Helvetica',sans-serif;
font-size: 12px; 
margin:0;
word-wrap: break-word;}
.Style3{font-family: 'DINCondensed-Bold','DIN Condensed';
font-size: 35px; 
font-weight:700; 
margin:0;
letter-spacing: 0.05em; 
word-wrap: break-word;}
.Style4{font-family: 'PingFangSC-Regular','PingFang SC';
font-size: 15px; 
margin:0;
background-color: #FEFFFF; 
word-wrap: break-word;}
.linkStyle_5{font-family: 'PingFangSC-Regular','PingFang SC';
font-size: 15px; 
color: #2277FD;
text-decoration: none; 
/*110#000000#2277FD#2277FD*/
background-color: #FEFFFF; 
word-wrap: break-word;}
a.linkStyle_5:visited{color:#2277FD; text-decoration:none;}
a.linkStyle_5:hover{color:#2277FD; text-decoration:none;}
.Style8{font-family: 'PingFangSC-Regular','PingFang SC';
font-size: 15px; 
background-color: #FEFFFF; 
word-wrap: break-word;}
.Style9{font-family: 'PingFangSC-Regular','PingFang SC';
font-size: 15px; 
margin:0;
background-color: #FEFEFF; 
word-wrap: break-word;}
.Style10{font-family: 'DINCondensed-Bold','DIN Condensed';
font-size: 33px; 
font-weight:700; 
margin:0;
word-wrap: break-word;}
.Style11{font-family: 'DINCondensed-Bold','DIN Condensed';
font-size: 22px; 
font-weight:700; 
margin:0;
word-wrap: break-word;}
.Style12{font-family: 'DINCondensed-Bold','DIN Condensed';
font-size: 33px; 
font-weight:700; 
margin:0;
letter-spacing: 0.03em; 
word-wrap: break-word;}
.Style13{font-family: 'PingFangTC-Semibold','PingFang TC';
font-size: 15px; 
font-weight:600; 
background-color: #FEFEFF; 
word-wrap: break-word;}
.Style14{font-family: 'PingFangSC-Regular','PingFang SC';
font-size: 15px; 
background-color: #FEFEFF; 
word-wrap: break-word;}
.Style15{font-family: 'PingFangSC-Regular','PingFang SC';
font-size: 15px; 
font-style: italic;
background-color: #FEFEFF; 
word-wrap: break-word;}
.linkStyle_16{font-family: 'PingFangSC-Regular','PingFang SC';
font-size: 15px; 
color: #2277FD;
text-decoration: none; 
/*110#2277FD#2277FD#2277FD*/
background-color: #FEFEFF; 
word-wrap: break-word;}
a.linkStyle_16:visited{color:#2277FD; text-decoration:none;}
a.linkStyle_16:hover{color:#2277FD; text-decoration:none;}
.Style19{font-family: 'PingFangSC-Semibold','PingFang SC';
font-size: 15px; 
font-weight:600; 
background-color: #FEFEFF; 
word-wrap: break-word;}
.linkStyle_20{font-family: 'HelveticaNeue','Helvetica Neue','Arial',sans-serif;
font-size: 16px; 
margin:0;
color: #323232;
word-wrap: break-word;}
a.linkStyle_20:visited{color:#2277FD; text-decoration:none;}
a.linkStyle_20:hover{color:#2277FD; text-decoration:none;}
.linkStyle_23{font-family: 'HelveticaNeue','Helvetica Neue','Arial',sans-serif;
font-size: 16px; 
color: #2277FD;
text-decoration: none; 
/*110#2277FD#2277FD#2277FD*/
word-wrap: break-word;}
a.linkStyle_23:visited{color:#2277FD; text-decoration:none;}
a.linkStyle_23:hover{color:#2277FD; text-decoration:none;}
.Style26{font-family: 'HelveticaNeue','Helvetica Neue','Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
margin:0;
color: #323232;
background-color: #FEFFFF; 
word-wrap: break-word;}
.Style27{font-family: 'DINCondensed-Bold','DIN Condensed';
font-size: 35px; 
font-weight:700; 
margin:0;
word-wrap: break-word;}
.Style28{font-family: 'DINCondensed-Bold','DIN Condensed';
font-size: 19px; 
font-weight:700; 
word-wrap: break-word;}
.Style29{font-family: 'HelveticaNeue-Bold','Helvetica Neue','Arial',sans-serif;
font-size: 15px; 
font-weight:700; 
background-color: #FEFEFF; 
word-wrap: break-word;}
.Style30{font-family: 'PingFangSC-Semibold','PingFang SC';
font-size: 15px; 
font-weight:600; 
margin:0;
background-color: #FEFEFF; 
word-wrap: break-word;}
.Style31{font-family: 'HelveticaNeue-Bold','Helvetica Neue','Arial',sans-serif;
font-size: 15px; 
font-weight:700; 
margin:0;
background-color: #FEFEFF; 
word-wrap: break-word;}
.Style32{font-family: 'PingFangSC-Semibold','PingFang SC';
font-size: 18px; 
font-weight:600; 
margin:0;
word-wrap: break-word;}
.Style33{font-family: 'PingFangSC-Semibold','PingFang SC';
font-size: 16px; 
font-weight:600; 
margin:0;
background-color: #FEFEFF; 
word-wrap: break-word;}
.Style34{font-family: 'PingFangSC-Semibold','PingFang SC';
font-size: 1px; 
font-weight:600; 
margin:0;
background-color: #FEFEFF; 
word-wrap: break-word;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}